:root {
	/* -----------------------------------------------------------------------------
	 * Borders - Radius
	 * ----------------------------------------------------------------------------- */

	--tec-tec-border-radius-default: 4px;

	/* -----------------------------------------------------------------------------
	 * Borders - Width
	 * ----------------------------------------------------------------------------- */

	--tec-tec-border-width-week-event: 2px;
}
