:root {
	/* -----------------------------------------------------------------------------
	 * Transitions
	 * ----------------------------------------------------------------------------- */

	--tec-transition: all 0.2s ease;
	--tec-transition-background-color: background-color 0.2s ease;
	--tec-transition-color-border-color: color 0.2s ease, border-color 0.2s ease;
	--tec-transition-transform: transform 0.2s ease;
	--tec-transition-border-color: border-color 0.2s ease;
	--tec-transition-color: color 0.2s ease;
	--tec-transition-opacity: opacity 0.2s ease;
}

/* -----------------------------------------------------------------------------
 * For backwards Compatibility with plugins that have not been updated yet.
 * Remove these once ALL plugins have been updated to use the namespaced vars.
 * ----------------------------------------------------------------------------- */

:root {
	/* -----------------------------------------------------------------------------
	 * Transitions
	 * ----------------------------------------------------------------------------- */

	--transition: all 0.2s ease;
	--transition-background-color: background-color 0.2s ease;
	--transition-color-border-color: color 0.2s ease, border-color 0.2s ease;
	--transition-transform: transform 0.2s ease;
	--transition-border-color: border-color 0.2s ease;
	--transition-color: color 0.2s ease;
	--transition-opacity: opacity 0.2s ease;
}
